*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}

body{
    
    background-color:black;
    
}

.card{
    width: 100%;
    height: 100%;
    background:linear-gradient(135deg, #184665, #d19be6);
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    margin: 100px auto 0;
    max-width: 700px;
    color:azure;
    
    

    }
.search{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 55px;
    margin-top: 15px;
    
    
}

.search input {
    border:0;
    outline: auto;
    background:azure;
    color:black;
    padding: 20px 25px;
    border-radius: 30px;
    height: 50px;
    font-size: 18px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    /* font-family: fantasy; */


}

.search button{
    border: 0;
    outline:auto;
    background:azure;
    cursor: pointer;
   height: 50px;
    width: 60px;
    
    border-radius: 50px;
    
    
}
.search button img{
    width: 16px;
    
}
.weather-img{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
    font-family: fantasy;
}
.weather h1{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;

}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather
{
    display: none;
}
.error
{
    text-align: left;
    margin-top: 40px;
    font-size: 20px;
    margin-top: 10px;
    margin-left:70px;
    display:none;
}
.text 
{
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
    color:azure;
    
    
}
text img
{
    margin-top: 20px;
    padding-top: 25px;
}